{% extends "base.html" %}

{% block content %}
    <section id="content">
        <div class="articles">
            {% for article in articles_page.object_list %}
            <article class="hentry">
                <header>
                    <h2 class="entry-title">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                        <small><abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr></small>
                    </h2>
                </header>

                <div class="entry-content markdown-body">
                    {{ article.summary }}
                </div>
            </article>
            {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
        </div>

        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </section>
{% endblock content %}
