.masthead {
    background: #333;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 15px;
}

body.home .masthead {
    background: #333 url('../images/header.png');
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    padding: 115px 0 0 0;
}

.about {
    background: #e2eef9;
    margin-top: -15px;
    margin-bottom: 15px;
}

.masthead a {
    color: #fff;
}

.masthead .avatar {
    float: left;
    margin-right: 15px;
}

abbr[title] {
    border-bottom-width: 0;
}

address {
    display: inline;
}

.home-column h2 {
    margin: 0;
}

.home-column h2 small {
    font-size: .75em;
}

footer.body {
    background: #efefef;
    color: #666;
    padding: 15px 0;
}
